<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <main class="container">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <br>
    <div class="container" style="background-color: #eaeaea">
      <div class="offset-md-2 col-md-8">
        <p><%= debug(params) if Rails.env.development? %></p>
      </div>
    </div>
  </body>
</html>
